
.land_box {
	
	width: 350px;
	background:;
	left: 50%;
	top: 43%;
	position: absolute;
	margin-left: -175px;
	margin-top: -50px;
	border-radius: 10px;
	/*box-shadow: 0px 0px 3px #8B8280;*/
	
}
.logo{
	
	position: absolute;
	background:;
	top: 18%;
	left: 50%;
	margin-left: -71.6485px;
	font: "微软雅黑";
	font-size: 4em;
	color: #EEEEEE;
}
.spinner {
  width: 120px;
  height: 120px;
  margin: 80px auto;
  background-color: #fff;
 
  border-radius: 100%; 
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}
 
@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
 
@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
.land_box div.logo{
	height: 80px;
	width: 300px;
	text-align: center;
	font-size: 3em;
	margin: 30px auto;
	background:;
	color: #EEEEEE;
	line-height: 80px;
	/*box-shadow: 0px 0px 2px #8B8280;*/
}


#form .accoundtNum{
	height: 30px;
    width: 350px;
	border-radius: 2px;
	outline: none;
	font-size: 17px;
	color:#FFFFFF;
	background: rgb(178,214,142);
	border-style:none;
	border-bottom: 1px solid #fff;
}
#form .psw{
	margin-top: 30px;

}

.land_box div{
	margin: 18px 0;
}
.land_box div input{
	float: left;
	display: inline-block;
	margin-right: 10px;
	height: 20px;
    width: 20px;
	border: 1px solid #fff;
	background-color: rgb(178,214,142);
}
.land_box div p{
	color: #fff;
}
.land_box #form .button{
 font-size: 24px;
    width: 350px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    margin-top: 88px;
    color: #2B454B;
    cursor: pointer;
	
}

div.login_foooter{
	height: 30px;
	bottom: 10px;
    left: 50%;
    margin-left: -182px;
	position: absolute;
	line-height: 30px;
	
}
a.login_enroll{
	border-left: 1px solid #8B8280;
}
a{
	width: 100px;
	font-size: 15px;
	padding:0 60px;
	color: #eee;
}

/*a:hover{
	border: 1px solid #2B454B;
	border-radius: 6px;
}*/
