/*版型开始*/
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #555;
	
}
ul {
	list-style: none;
}
img,
a img {
	border: none;
	text-decoration: none;
}
a {
	text-decoration: none;
}
*a:hover {
	text-decoration: underline;
}
/*版型结束*/

body {
	background:url(body_background.jpg);
	/*background-repeat: round;*/
	overflow: hidden;
	
}