.register_box p{
	font-size: 24px;
	color: #fff;
}
.register_box{
	height: 500px;
	width: 500px;
	background:;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -250px;


}
#register{
    width: 350px; 
    margin:100px auto;
    	overflow: hidden;
}
#register input.text{
width: 350px;
height: 33px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 17px;
}
.register_box input.submit{
	    width: 350px;
    height: 48px;
    font-size: 24px;
    margin: 30px auto;
}
p{
	font-size: 24px;
	text-align: center;
	color: #eee;
}


